<table class="table">
  <thead>
  <tr>
    <th>Vin</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>RedLineRpm</th>
    <th>MaxFuelVolume</th>
    <th>LastServiceDate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicle of vehicles">
    <td>{{vehicle.vin}}</td>
    <td>{{vehicle.make}}</td>
    <td>{{vehicle.model}}</td>
    <td>{{vehicle.year}}</td>
    <td>{{vehicle.redlineRpm}}</td>
    <td>{{vehicle.maxFuelVolume}}</td>
    <td>{{vehicle.lastServiceDate}}</td>

  </tr>
  </tbody>
</table>

