<div xmlns:orderBy="http://www.w3.org/1999/xhtml">
<select #selectop class="form-control" (change)=getalerts(selectop.value)>
  <option selected>Select a Duration</option>
  <option *ngFor="let dur of duration" [value]="dur"  [selected]>
{{dur}} hours
  </option>
</select>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Vin</th>
    <th>No. of High Alerts</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let alerts of highalerts">

    <td><a [routerLink]="['/alerthistory', alerts.vin,selectop.value]">{{alerts.vin}}</a></td>
    <td>{{alerts.cnt}}</td>
  </tr>
  </tbody>
</table>

