<div xmlns:orderBy="http://www.w3.org/1999/xhtml">
<select #selectop class="form-control" (change)=getalerts(selectop.value)>
  <option selected>Select a Duration</option>
  <option *ngFor="let dur of duration" [value]="dur"  [selected]>
{{dur}} hours
  </option>
</select>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Vin</th>
    <th>Type</th>
    <th>priority</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let alerts of highalerts">

    <td>{{alerts.id}}</td>
    <td>{{alerts.vin}}</td>
    <td>{{alerts.type}}</td>
    <td>{{alerts.priority}}</td>
    <td>{{(alerts.timestamp)| date:'medium'}}</td>

  </tr>
  </tbody>
</table>

